<h1 class="center"><%= @department.name %></h1>
<hr />
<p class="center">What would you like to do?</p>
<hr>
<br>

<div class="btn-layout">
<%= link_to 'View Products', department_items_path(@department), class:'btn purple lighten-2 white-text hoverable' %>
<%= link_to 'Edit Department', edit_department_path(@department), class:'btn purple lighten-2 white-text hoverable' %>

<%= link_to 'Delete Department', @department, method: :delete, class:'btn purple lighten-2 white-text hoverable' %>

</div>
<%# <div class="back-btn"> %>
<%= link_to 'Back to Home', root_path, class:'back-btn btn purple darken-2 white-text hoverable' %>
<%# </div> %>